*~
/.cask
/auto-save-list
/bookmarks
/backups
/save-place
/ido.last
/.org-id-locations
/auto-save
/sessions
*.elc
/site.el
/default.el
/customize.el
/elpa
/eshell
/history
/transient
/tramp
/.lsp-session-v1
