/site.el
/default.el
/customize.el

/bookmarks
/save-place
/ido.last
/.org-id-locations
/elpa
/eshell
/history
/transient
/tramp
/.lsp-session-v1
/.cache
/workspace
/.dap-breakpoints
/lsp-cache
/auto-save-list
