# Compiled files
/early-init.elc

# Site specific files
/site.el
/default.el
/customize.el

# Transient files
/backup
/bookmarks
/save-place
/ido.last
/.org-id-locations
/elpa
/eshell
/history
/transient
/tramp
/.lsp-session-v1
/.cache
/workspace
/.dap-breakpoints
/lsp-cache
/auto-save-list
